---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1:7c42370b-c3ad-48ac-9620-d15367b882c6@19.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"zDMxuabc1PlWB0aOV0pl6g"'
      Link:
      - <https://cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22:7c42370b-c3ad-48ac-9620-d15367b882c6/Preface>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive2
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": ["UA-30227798-5"], "version": "19", "submitlog":
        "removed bullets from list", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"
        data-cnxml-to-html-ver=\"1.3.2\">Human Anatomy and Physiology is designed
        for the two-semester anatomy and physiology course taken by life science and
        allied health students.  The textbook follows the scope and sequence of most
        Human Anatomy and Physiology courses, and its coverage and organization were
        informed by hundreds of instructors who teach the course.  Instructors can
        customize the book, adapting it to the approach that works best in their classroom.  \nThe
        artwork for this textbook is aimed focusing student learning through a powerful
        blend of traditional depictions and instructional innovations.   Color is
        used sparingly, to emphasize the most important aspects of any given illustration.  Significant
        use of micrographs from the University of Michigan complement the illustrations,
        and provide the students with a meaningful alternate depiction of each concept.  Finally,
        enrichment elements provide relevance and deeper context for students, particularly
        in the areas of health, disease, and information relevant to their intended
        careers.</div>", "revised": "2019-02-07T22:07:05Z", "printStyle": null, "roles":
        null, "keywords": ["water balance", "vertebrae", "vascular system", "urine",
        "urinary system", "tissue", "thorax", "thoracic cage", "stomach", "skull",
        "skin", "skeleton", "skeletal system", "sensory perception", "respiratory
        system", "respiration", "reproductive system", "reproduction", "renal", "protein",
        "platelet", "placental hormone", "physiology", "pharynx", "peripheral nervous
        system", "pelvis", "pectoral girdle", "pathogen", "pancreas", "organic compound",
        [...]
