---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22@15.1:808e7285-11d0-51fe-94fb-1747bab95c65@15.1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"veWw5wyiHdP+ogsRF9WRkg"'
      Link:
      - <https://cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22:808e7285-11d0-51fe-94fb-1747bab95c65/Index>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod08_archive1
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": null, "version": "15.1", "submitlog": "Applying
        recipe and baking | CP", "abstract": "\n        <div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:m=\"http://www.w3.org/1998/Math/MathML\"/>\n      ", "revised": "2019-02-12T17:32:13Z",
        "printStyle": "anatomy", "roles": null, "keywords": [], "id": "808e7285-11d0-51fe-94fb-1747bab95c65",
        "canonical": "14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22", "title": "Index", "mediaType":
        "application/vnd.org.cnx.composite-module", "canon_url": "https://cnx.org/contents/14fb4ad7-39a1-4eee-ab6e-3ef2482e3e22:808e7285-11d0-51fe-94fb-1747bab95c65/Index",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n  <body><div class=\"os-eob
        os-index-container\" data-type=\"composite-page\" data-uuid-key=\"index\"><h1
        data-type=\"document-title\"><span class=\"os-text\">Index</span></h1><div
        class=\"group-by\"><span class=\"group-label\">Symbols</span><div class=\"os-index-item\"><span
        class=\"os-term\" group-by=\" Symbols\">\u03b1-dextrin</span><a class=\"os-term-section-link\"
        href=\"/contents/9a926b86-67d0-4dbe-b5fe-d94581825886#term2820\"><span class=\"os-term-section\">23.7
        Chemical Digestion and Absorption: A Closer Look</span></a></div><div class=\"os-index-item\"><span
        class=\"os-term\" group-by=[...]
