---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"1B2M2Y8AsgTpgAmY7PhCfg"'
      Location:
      - https://archive.cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a@14.79
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive5
      X-Varnish-Ttl:
      - '60.000'
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |+
        302 Found

        The resource was found at /contents/031da8d3-b525-429c-80cf-6c8ed997733a@14.79; you should be redirected automatically.

  recorded_at: Tue, 09 Apr 2019 21:51:04 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a@14.79
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"U+8QX9+uk4gdCqOIgu1/Sw"'
      Link:
      - <https://cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a/College-Physics>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod08_archive1
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": ["UA-30227798-13", "UA-101537094-1"], "version":
        "14.79", "submitlog": "resolving typo from erratum 8200 - CP", "abstract":
        "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2019-03-20T19:23:09Z",
        "printStyle": "physics", "roles": null, "keywords": [], "id": "031da8d3-b525-429c-80cf-6c8ed997733a",
        "canonical": null, "title": "College Physics", "mediaType": "application/vnd.org.cnx.collection",
        "canon_url": "https://cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a/College-Physics",
        "subjects": [], "legacy_id": "col11406", "parentId": null, "resources": [{"media_type":
        "text/xml", "id": "a4b61c80fad6967b133ae1f7cc4a5b8e8c1737c8", "filename":
        "collection.xml"}], "publishers": [{"surname": "OpenStax College", "suffix":
        "", "firstname": "", "title": "", "fullname": "OpenStax", "id": "OpenStaxCollege"},
        {"surname": "Physics", "suffix": "", "firstname": "College", "title": "",
        "fullname": "OSC Physics Maintainer", "id": "cnxcap"}], "parent": {"authors":
        [], "shortId": null, "version": "", "id": null, "title": null}, "stateid":
        1, "parentTitle": null, "shortId": "Ax2o07Ul", "authors": [{"surname": "OpenStax
        College", "suffix": "", "firstname": "", "title": "", "fullname": "OpenStax",
        "id": "OpenStaxCollege"}], "parentVersion": "", "legacy_version": "1.14",
        "licensors": [{"surname": "University", "suffix": "", "firstname": "Rice",
        "title": "", "fullname": "Rice University", "id": "OSCRiceUniversity"}], "language":
        "en", "license": {"url": "http://creativecommons.org/licenses/by/4.0/", "code":
        "by", "version": "4.0", "name": "Creative Commons Attribution License"}, "created":
        "2012-01-23T07:03:30Z", "tree": {"shortId": "Ax2o07Ul@14.79", "id": "031da8d3-b525-429c-80cf-6c8ed997733a@14.79",
        "contents": [{"shortId": "pFeekPiU@20", "id": "a4579e90-f894-4438-88c3-14772d3da9ff@20",
        "title": "<span class=\"os-text\">Preface</span>"}, {"shortId": "5M2b30E7@14.1",
        "id": "e4cd9bdf-413b-5adf-9a29-ce77cd9bf486@14.1", "contents": [{"shortId":
        "HR_VN3f7@5", "id": "1d1fd537-77fb-4eac-8a8a-60bbaa747b6d@5", "title": "<span
        class=\"os-text\">Introduction to Science and the Realm of Physics, Physical
        Quantities, and Units</span>"}, {"shortId": "OSViBgOw@9", "id": "39256206-03b0-4396-abb6-75e6ee5e3c7b@9",
        "title": "<span class=\"os-number\">1.1</span><span class=[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a@14.79:1d1fd537-77fb-4eac-8a8a-60bbaa747b6d@5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"3wgEyP9RbaeB1PMy0NVr7w"'
      Link:
      - <https://cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a:1d1fd537-77fb-4eac-8a8a-60bbaa747b6d/I[...]
