---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"1B2M2Y8AsgTpgAmY7PhCfg"'
      Location:
      - https://archive.cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a@23.31
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive4
      X-Varnish-Ttl:
      - '60.000'
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |+
        302 Found

        The resource was found at /contents/031da8d3-b525-429c-80cf-6c8ed997733a@23.31; you should be redirected automatically.

  recorded_at: Wed, 26 May 2021 13:23:04 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a@23.31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"WpWAErC25km9Uhyj9idpUA"'
      Link:
      - <https://cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a/College-Physics>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive2
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": ["UA-30227798-1"], "version": "23.31", "submitlog":
        "mspace fix", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2021-03-30T16:06:36Z",
        "printStyle": "college-physics-prod", "roles": null, "keywords": [], "id":
        "031da8d3-b525-429c-80cf-6c8ed997733a", "canonical": null, "title": "College
        Physics", "mediaType": "application/vnd.org.cnx.collection", "canon_url":
        "https://cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a/College-Physics",
        "subjects": [], "legacy_id": "col11406", "parentId": null, "resources": [{"media_type":
        "text/xml", "id": "97d65458ece509c89f0600ddecf59715a2d46022", "filename":
        "collection.xml"}], "publishers": [{"surname": "OpenStax College", "suffix":
        "", "firstname": "", "title": "", "fullname": "OpenStax", "id": "OpenStaxCollege"},
        {"surname": "Physics", "suffix": "", "firstname": "College", "title": "",
        "fullname": "OSC Physics Maintainer", "id": "cnxcap"}], "parent": {"authors":
        [], "shortId": null, "version": "", "id": null, "title": null}, "stateid":
        1, "parentTitle": null, "shortId": "Ax2o07Ul", "authors": [{"surname": "OpenStax
        College", "suffix": "", "firstname": "", "title": "", "fullname": "OpenStax",
        "id": "OpenStaxCollege"}], "parentVersion": "", "legacy_version": "1.23",
        "licensors": [{"surname": "University", "suffix": "", "firstname": "Rice",
        "title": "", "fullname": "Rice University", "id": "OSCRiceUniversity"}], "language":
        "en", "license": {"url": "http://creativecommons.org/licenses/by/4.0/", "code":
        "by", "version": "4.0", "name": "Creative Commons Attribution License"}, "created":
        "2012-01-23T07:03:30Z", "tree": {"shortId": "Ax2o07Ul@23.31", "title": "College
        Physics", "id": "031da8d3-b525-429c-80cf-6c8ed997733a@23.31", "contents":
        [{"shortId": "pFeekPiU@23", "title": "<span data-type=\"\" itemprop=\"\" class=\"os-text\">Preface</span>",
        "id": "a4579e90-f894-4438-88c3-14772d3da9ff@23", "slug": "preface"}, {"shortId":
        "5M2b30E7@23.23", "title": "<span class=\"os-number\"><span class=\"os-part-text\">Chapter
        </span>1</span><span class=\"os-divider\"> </span><span data-type=\"\" itemprop=\"\"
        class=\"os-text\">Introduction: The Nature of Science and Physics</span>",
        "id": "e4cd9bdf-413b-5adf-9a29-ce77cd9bf486@23.23", "contents": [{"shortId":
        "HR_VN3f7@7", "title": "<span data-type=\"\" itemprop=\"\" class=\"os-text\">Introduction
        to Scienc[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a@23.31:1d1fd537-77fb-4eac-8a8a-60bbaa747b6d@7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"h5yxzLemD/g+HX+QRaDp0A"'
      Link:
      - <https://cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a:1d1fd537-77fb-4eac-8a8a-60bbaa747b6d/I[...]
